In [1]:
print('Hacktiv8')

Hacktiv8

## integer

In [2]:
print(123123)

123123

In [3]:
print(10)

10

In [4]:
type(10)

int

## Floating-point

In [5]:
5.2

5.2

In [6]:
type(5.2)

float

## Strings
tipe data berupa sequence of character data

In [7]:
print('ini adalah percobaan')

ini adalah percobaan

In [8]:
type('ini adalah percobaan')

str

## Boolean
tipe data yang berupa True atau False (awal huruf T dan F adalah kapital)

In [9]:
False

False

In [10]:
type(False)

bool

In [11]:
type('False')

str

## Variables
1. Variables Assigment

In [12]:
n = 300

In [13]:
n

300

In [14]:
print (n)

300

In [15]:
n = k = 300
print(n,k)

300 300

2. Variables Names

In [16]:
name = 'Triono'
age = 32
has_laptop = True
print(name,age,has_laptop)

Triono 32 True

In [17]:
9_kepala_naga = True

SyntaxError: invalid token (<ipython-input-17-737512de54da>, line 1)

In [18]:
kepala_naga_9 = True

## Operators and Expressions in Phyton

In [19]:
a = 10
b = 20

In [20]:
a + b

30

In [21]:
a + b - 5

25

1. Aritmetic Operators

In [22]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a / b)

7
1
1.3333333333333333

In [23]:
10 * 5

50

2. Comparisson Operators

In [24]:
a = 10
b = 20

print(a == b) #sama dengan
print(a != b) #tidak sama dengan
print(a <= b)
print(a >= b)

False
True
True
False

## String Manipulation

In [25]:
# + Operators

s = 'foo'
t = 'bar'
u = 'baz'

print (s + t)
print (s + t + u)

foobar
foobarbaz

In [27]:
print ('INALUM' + 'Hackativ8')

INALUMHackativ8

In [28]:
# * Operator
s * 3

'foofoofoo'

In [30]:
# in Operators

s = 'foo'
s in 'That food for us'

True

In [31]:
# Case Capitalise
s = 'inalum hackactivate'

In [32]:
# Capitalize

s.capitalize()

'Inalum hackactivate'

In [33]:
# Title

s.title()

'Inalum Hackactivate'

In [35]:
# lower
print(s.lower())

# Uppercase
print(s.upper())

inalum hackactivate
INALUM HACKACTIVATE

In [36]:
# swapcase
s.swapcase()

'INALUM HACKACTIVATE'

## List
ditandai dengan adanya [ ]

In [38]:
a = ['foo','bar','baz','qux']

In [39]:
a

['foo', 'bar', 'baz', 'qux']

In [40]:
a = [21.42,'foot',1,2,'book',False,3.14159]

In [41]:
a

[21.42, 'foot', 1, 2, 'book', False, 3.14159]

In [42]:
b = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [43]:
b

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [44]:
b[2]

'baz'

In [45]:
b[0]

'foo'

In [47]:
b[5]

'corge'

In [48]:
b[-1]

'corge'

In [49]:
b[-6]

'foo'

In [55]:
# Slicing

print (b)
print (b[0:3])
print (b[2:5])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz']
['baz', 'qux', 'quux']

In [52]:
b[2:5]

['baz', 'qux', 'quux']

In [53]:
b[:5]

['foo', 'bar', 'baz', 'qux', 'quux']

In [54]:
print(b)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [56]:
b * 2

['foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge',
 'foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge']

In [57]:
print(b)

#length
len(b)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

6

In [59]:
#urutan
print(min(b))
print (max(b))

bar
qux

1. Modifying single list value

In [60]:
b

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [61]:
b[2] = 10

In [62]:
b

['foo', 'bar', 10, 'qux', 'quux', 'corge']

In [63]:
b[-1] = 20

In [64]:
b

['foo', 'bar', 10, 'qux', 'quux', 20]

In [67]:
# Hapus
del b[3]

In [66]:
b

['foo', 'bar', 10, 'quux', 20]

2. Modifying multiple list value

In [68]:
b

['foo', 'bar', 10, 20]

In [69]:
b[1:4]

['bar', 10, 20]

In [70]:
b[1:4] = [1.1, 2.2, 3.3]

In [71]:
b

['foo', 1.1, 2.2, 3.3]

## Tuples

tidak dapat dimodifikasi

In [73]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [74]:
t[0]

'foo'

In [75]:
t[-1]

'corge'

In [76]:
t[0] = 'newValue'

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [81]:
identitas = {
    'Fname': 'Triono',
    'Lname': ' Syakbani',
    'Age': 32
}

In [82]:
identitas

{'Fname': 'Triono', 'Lname': ' Syakbani', 'Age': 32}

In [83]:
identitas['Lname']

' Syakbani'

In [84]:
identitas['Age']

32

In [85]:
identitas['Alamat']

KeyError: 'Alamat'

In [86]:
identitas['Pekerjaan'] = 'Pegawai'

In [87]:
identitas

{'Fname': 'Triono', 'Lname': ' Syakbani', 'Age': 32, 'Pekerjaan': 'Pegawai'}

In [88]:
identitas['Pekerjaan'] = 'Data Scientist'

In [89]:
identitas

{'Fname': 'Triono',
 'Lname': ' Syakbani',
 'Age': 32,
 'Pekerjaan': 'Data Scientist'}

In [90]:
del identitas['Pekerjaan']

In [91]:
identitas

{'Fname': 'Triono', 'Lname': ' Syakbani', 'Age': 32}

In [92]:
person = {}

In [93]:
type (person)

dict

In [94]:
person['fname'] = 'Nama depan'
person['lname'] = 'Nama belakang'
person['age'] = 32
person['children'] = 'Anak1', 'Anak2', 'Anak3'

In [95]:
person

{'fname': 'Nama depan',
 'lname': 'Nama belakang',
 'age': 32,
 'children': ('Anak1', 'Anak2', 'Anak3')}

In [96]:
person['children'][2]

'Anak3'

In [97]:
person['pets'] = {'dog': 'dogName', 'bird': 'birdName'}

In [98]:
person

{'fname': 'Nama depan',
 'lname': 'Nama belakang',
 'age': 32,
 'children': ('Anak1', 'Anak2', 'Anak3'),
 'pets': {'dog': 'dogName', 'bird': 'birdName'}}

In [99]:
d= [1, 2, 3, [4, 5, 6], 7]

In [100]:
d

[1, 2, 3, [4, 5, 6], 7]

In [101]:
d[3]

[4, 5, 6]

In [102]:
d = {'a': 10, 'b': 20, 'c': 30}

In [103]:
d

{'a': 10, 'b': 20, 'c': 30}

In [104]:
# keys
d.keys()

dict_keys(['a', 'b', 'c'])

In [105]:
# values
d.values()

dict_values([10, 20, 30])

In [106]:
# Python Statements

print('Hi cuy')

x = [1, 2, 3]

Hi cuy

In [109]:
# Line Continuation

person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [108]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65) or 
    (person2_age >= 18 and person2_age <= 65) or 
    (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True

In [120]:
a = [[1,2,3], [4,5,6], [7,8,9], [1,2,3], [4,5,6], [7,8,9], [1,2,3], [4,5,6], [7,8,9], [1,2,3], [4,5,6], [7,8,9]]

In [111]:
s =
    'hello world'

SyntaxError: invalid syntax (<ipython-input-111-eb49f9b789ee>, line 1)

In [112]:
s =\
    'Hello world'

In [113]:
s

'Hello world'

In [114]:
# Multiple Statements per Line

x = 1; y = 2; z = 3

print(x); print(y); print(z)

1
2
3

In [115]:
# Comments

a = ['foo', 'bar'] # variable berisi list foo dan bar

In [116]:
a

['foo', 'bar']

In [117]:
b = '# in not a comment'

In [118]:
b

'# in not a comment'

In [ ]:
"""
Initialize value for radius of cyrcle

Then calculate the area of the circle
and display the result to the notebook
"""

pi = 3.14
r = 12

area = pi * (r**2)
print('The area of circle is', area)

## Conditional

In [121]:
# If Statement

x = 0
y = 5

if x < y:
    print('yes')
    
if y < x:
    print ('yes')
    
if 'aul' in 'fault':
    print('yes')

yes
yes

In [122]:
if <exprs>:
    <statement1>
    <statement2>
    <statement3>
    
<statement>

SyntaxError: invalid syntax (<ipython-input-122-ef269ed07723>, line 1)

In [123]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing Statement')
    print('...')
    print('done')
    
print('after conditional')

after conditional

In [124]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')
    
    if 10 > 20:
        print('Inner condition')
    print('Betweem inner condition')
    
    if 10 < 20:
        print('Inner condition2')
    print('End of outer condition')
    
print('after outer condition')

Outer condition is true
Betweem inner condition
Inner condition2
End of outer condition
after outer condition

In [125]:
# else dan elif

if x < 50:
    print('x is small')
else:
    print('x is large')

x is small

In [126]:
if x > 50:
    print('x is small')
else:
    print('x is large')

x is large

In [127]:
name = 'Hacktiv8'

if name == 'Fred':
    print('Hello Fred')
elif name == 'Xender':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print('I don"t know')

hello Hacktiv8

In [129]:
name = 'Sopo'

if name == 'Fred':
    print('Hello Fred')
elif name == 'Xender':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know")

I don't know

In [ ]:
# One Line If Statement

if <expr>:
    <Stetement>
    
if <expr>: <statement>

if <expr>: <statement1>; <statement2>; <statement3>

In [131]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [132]:
x = 1

if x == 1:
    print('foo')
    print('bar')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

foo
bar

In [134]:
x = 2

if x == 1:
    print('foo')
    print('bar')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

qux
quux

In [135]:
x = 5

if x == 1:
    print('foo')
    print('bar')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

In [ ]:
## Ternary Operator (Conditional Expression)

<expr1> if <condt_expr> else <expr2>

In [137]:
age = 12

'teen' if age < 21 else 'adult'

'teen'

In [138]:
age = 35

'teen' if age < 21 else 'adult'

'adult'

In [ ]:
if a > b:
    n = a
else:
    n = b
    
n = a if a > b else b

In [139]:
## Pass Statement

if True:
    pass # untuk memby-pass statement langsung ke statement bawahnya

print('foo')

foo

## Iterasi

In [ ]:
## While

while <expr>:
    <statement>

In [141]:
n = 5

while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [142]:
n = 5

while n > 0:
    n -= 2
    print(n)

3
1
-1

In [143]:
n = 5

while n > 0:
    n -= 5
    print(n)

0

In [144]:
n = 5

while n > 0:
    n -= 1 #4
    if n == 2: #4 !=2
        break # pass
    print(n)#4
print('Loop Ended')

4
3
Loop Ended

In [145]:
n = 5

while n > 0:
    n -= 1 #4
    if n == 2: #4 !=2
        continue # pass
    print(n)#4
print('Loop Ended')

4
3
1
0
Loop Ended

In [ ]:
# else clause

while <expr>:
    <statement>
else:
    <additional_statemet>

In [147]:
n = 5

while n > 0:
    n -= 1 
    print(n)
else:
    print('Loop Ended')

4
3
2
1
0
Loop Ended

In [148]:
n = 5

while n > 0:
    n -= 1 
    if n == 2:
        break 
    print(n)
else:
    print('Loop Ended')

4
3

In [149]:
# One - line while loops

n = 5

while n > 0: n -= 1; print (n)

4
3
2
1
0

In [150]:
# For Loops

for <var> in <iterable>:
    <statement>

SyntaxError: invalid syntax (<ipython-input-150-ad68f8733c6d>, line 3)

In [151]:
a = ['foo', 'bar', 'baz']

for i in a:
    print(i)

foo
bar
baz

In [152]:
d = {'foo': 1, 'bar': 2, 'baz': 3}

for k in d:
    print(k)

foo
bar
baz

In [153]:
d = {'foo': 1, 'bar': 2, 'baz': 3}

for f in d:
    print(f)

foo
bar
baz

In [154]:
for k in d:
    print(d[k])

1
2
3

In [155]:
d['foo']

1

In [156]:
for v in d.values():
    print(v)

1
2
3

In [157]:
# range function

x = range(5) # range dari 0 hingga 5, tetapi 5 tidak ikut

In [158]:
x

range(0, 5)

In [159]:
for n in x:
    print(n)

0
1
2
3
4

In [ ]:
# break dan continue

In [160]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'z' in i:
        break
    print(i)

foo
bar

In [161]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'z' in i:
        continue
    print(i)

foo
bar
qux

In [ ]:
# else clause

In [162]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('done')

foo
bar
baz
qux
done

In [163]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'z' in i:
        break
    print(i)
else:
    print('done')

foo
bar

In [179]:
temp = input("ketikkan temperatur yang ingin dikonversi, eg. 45F, 28C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("masukkan input yang benar")
print("Temperaturenya adalah", result)

ketikkan temperatur yang ingin dikonversi, eg. 45F, 28C: 32F
Temperaturenya adalah 0

In [178]:
temp

'0C'

In [169]:
result

118.4

In [ ]:
while True:
    msg = input("ketikkan karakter: ").lower()
    print(msg)
    if msg == 'stop':
        break